Package: dgpumon-dbgsym
Package-Type: ddeb
Source: dgpumon
Version: 0.2.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Edgar Andrés Margffoy Tuay <andfoy@gmail.com>
Installed-Size: 35
Depends: dgpumon (= 0.2.0-1)
Section: debug
Priority: optional
Description: debug symbols for dgpumon
Build-Ids: d74cc59fd109c1cefe37e3a6211de1bbd7500d6b
