[Unit]
Description=Distributed GPU Monitor Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/dgpumon --remote-server 157.253.196.121 -d 10000

[Install]
WantedBy=multi-user.target
