Package: dgpumon
Version: 0.2.0-1
Architecture: amd64
Maintainer: Edgar Andrés Margffoy Tuay <andfoy@gmail.com>
Installed-Size: 46
Depends: libczmq-dev (>= 4)
Section: unknown
Priority: optional
Homepage: https://github.com/BCV-Uniandes/distributed-gpu-monitor
Description: ZMQ-based NVIDIA GPU monitor daemon.
